# Environments
.env
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Chroma Vector Store
vector_store/
vector_store_v2/

# Data
# Uncomment the below if you don't want to push your gazette documents
# data/*.pdf
# data/*.txt
# data/*.docx

# Ignore raw PDFs and temp uploads
data/raw/
data/temp_uploads/
tmp/

# Database Logs
data/compliance_audit.db

# OS specific
.DS_Store
Thumbs.db

# Streamlit
.streamlit/
! .streamlit/config.toml
