# Environments
.env
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Chroma Vector Store
vector_store/
vector_store_v2/

# Data
# Uncomment the below if you don't want to push your gazette documents
# data/*.pdf
# data/*.txt
# data/*.docx

# OS specific
.DS_Store
Thumbs.db
